.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo {
    width: 100px;
    height: 100px;
}
.nav-items  {
    display: flex-end;

    padding: 0px 20px;
}
.nav-items > ul{
    display: flex;
    font-size: 24spx;

}
.nav-items > ul > li{
    margin: 10px;
    padding-top: 10px;
    list-style: none;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 5px;
    width: 200px;
    height: 380px;
   padding: 5px;
   border: 1px solid lightgrey;
}
.dis-flex {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.m-5{
    margin: 5px;
}
.m-0{
    margin: 0px;
}
.res-card:hover {
    cursor:  pointer;
    border: 1px solid black;
}
.search {
    padding: 10px;
}
.res-logo {
   width: 200px;
   height: 200px;
}